.welcome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome-header {
    text-align: center;
    margin-bottom: 40px;
}

.welcome-header h1 {
    font-size: 48px;
    color: var(--text-color);
}

.welcome-header p {
    font-size: 28px;
    color: var(--text-color);
}


.welcome-buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.welcome-buttons p {
    font-size: 26px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.welcome-buttons span{
    font-size: 30px;
    color: var(--text-color);
    margin: 16px 0;
}

.welcome-buttons .link {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;
    background-color: var(--primary-color);
    padding: 14px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.welcome-buttons .link:hover {
    background-color: var(--primary-hover);
}

.welcome-buttons .link:active{
    color: var(--text-color);
}