.welcome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-buttons{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.link {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    background-color: #5cb85c;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: #444444;
}

.link:hover {
    background-color: #008a00;
}

.link:active {
    background-color: #005f00;
    color: #444444;
}